<div id="noticeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Update Failed!</h4>
      </div>
      <div class="modal-body">
        <p>Alumnus was not updated.</p>
        <p>Please ensure that the fields are complete.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
<div class="container">
  
  <form class="form-horizontal padtop" role="form" id="form">
    <fieldset>
      <legend>Update Alumnus</legend>
      
      <div class="form-group">
        <label for="inputName1" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" id="inputName1" placeholder="BOW Alumni" value="<%= loc.get('name') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputClass1" class="col-sm-2 control-label">Class</label>
        <div class="col-sm-10">
          <input type="text" name="class" class="form-control" id="inputClass1" placeholder="2014" value="<%= loc.get('year') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputMajor1" class="col-sm-2 control-label">Major</label>
        <div class="col-sm-10">
          <input type="text" name="major" class="form-control" id="inputMajor1" placeholder="Neuroscience" value="<%= loc.get('major') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email@example.com" value="<%= loc.get('email') %>">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="private" <% if (loc.get('privacy')){ %>
			<%= "checked" %>
			<% } %>> Hide my email
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputCity1" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
          <input type="text" name="city" class="form-control" id="inputCity1" placeholder="San Francisco" value="<%= loc.get('city') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputState1" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
          <input type="text" name="state" class="form-control" id="inputState1" placeholder="CA (Leave blank if not US)" value="<%= loc.get('state') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputCountry1" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
          <input type="text" name="country" class="form-control" id="inputCountry1" placeholder="USA" value="<%= loc.get('country') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputJob1" class="col-sm-2 control-label">Occupation</label>
        <div class="col-sm-10">
          <input type="text" name="job" class="form-control" id="inputJob1" placeholder="Research Assistant" value="<%= loc.get('job') %>">
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputDesc1" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea name="description" rows="3" class="form-control" id="inputDesc1" placeholder="What you're doing, future plans, etc." value="<%= loc.get('description') %>"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" name="update" class="btn btn-default">Update</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>